body {
    padding: 0px;
    font-family: Quicksand, sans-serif;
    text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat-Black', sans-serif;
}

h2 {
    font-size: 2rem;
    line-height: 1;
    color: white;
    font-weight: 700;
}

h3 {
    font-weight: bold;
}

h6 {
    font-size: 1.2rem;
    line-height: 1;
    padding-top: 10px;
    color: #afafaf;
}


p {
    font-size: 1.2rem;
    line-height: 1;
    color: #c8c9ff;
    padding-top: 40px;
}

span {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}


a {
    text-decoration: none;
    color: #944eb8;
    cursor: pointer;
}

a:hover {
    opacity: .7;
}

ul {
    list-style-type: none;
    padding: 6px 12px;
}

li {
    padding: 6px 0;
}

/* Title Section */

#title {
    background: linear-gradient(#00028c, #6c5ce7);
}

.container-fluid {
    padding: 3% 10% 10% 10%;
}

/* Heading */

.big-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1;
    color: white;
    font-weight: 700;
}

/* Navigation Bar Section */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-brand {
    font-family: "ubuntu";
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
    background-color: #d25627;
    color: #ffffff;
    -webkit-border-radius: 26;
    -moz-border-radius: 26;
    border-radius: 26px;
    font-family: 'monserrat-bold';
    font-weight: 500;
}

.download-button:hover {
    color: #ffffff;
    background-color: #f29c1f;
}

.nav-download-btn {
    -webkit-border-radius: 26;
    -moz-border-radius: 26;
    border-radius: 26px;
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}


/* Title image */

.title-image {
    width: 80%;
}

.title-image:hover {
    transform: rotate(5deg);
    transition: 5s ease-in-out .5s;
}



/* Features section */

#features {
    padding: 7% 10%;

}

.feature-box {
    padding: 5%;
}

.icon {
    color: #00028c;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #6c5ce7;
}

/* Service Section */

#service {
    background-color: #6c5ce7;
    padding-bottom: 20px;
    padding-top: 5%;
}

.service-image {
    color: #fb503b;
    height: 100px;
    margin: 15px;

}

.carousel-item {
    padding: 7% 10%;
}

.service-text {
    font-size: .8rem;
    color: white;
}

#service-tools {
    background-color: #6c5ce7;
}

.service-logo {
    margin: 20px 20px 40px;
    margin-bottom: 50px;

}

/* Call To Action Section */

#cta {
    padding: 7% 15%;
    padding-top: 40px;
}

.card {
    background-color: #6c5ce7;

}

.btn2 {
    background-color: #d25627;
    color: #ffffff;
    font-family: 'monserrat-bold';
    font-weight: 500;
}

.btn2:hover {
    color: #ffffff;
    background-color: #f29c1f;
}

/* Contact Section */

.contact-us {
    margin-top: 100px;
    margin-bottom: 200px;
    color: rgb(235, 235, 235);
    background-color: #8979ff;
    border-radius: 20px;
    padding-bottom: 10px;
}

.contact-text {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
    padding-top: 20px;
}

@media (max-width: 750px) {
    .contact-us {
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        background-color: #8979ff;
        border-radius: 20px;
        padding-bottom: 10px;
    }
}

.form-text {
    text-align: left;
}

/* Footer Section */

#footer {
    background-color: #6c5ce7;
    padding: 7% 15%;
}

.social-icon {
    margin: 20px 10px;
}

/* Parallax */
.parallax {
    position: relative;
    background-image: url('images/pexels-photo-548084.jpeg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-attachment: fixed;
}
